---
branches:
- master
plugins:
- - "@semantic-release/commit-analyzer"
  - preset: conventionalcommits
- - "@semantic-release/release-notes-generator"
  - preset: conventionalcommits
- - "@semantic-release/github"
  - assets:
    - path: serialized-jira_darwin_amd64
      label: Serialized Jira - Darwin AMD64
    - path: serialized-jira_linux_amd64
      label: Serialized Jira - Linux AMD64